@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.tau-light {
  --tau-primary: #548ffb;
  --tau-hover: #1e52b3;
  --tau-focus: #306cdb;
  --tau-text: #161616;
  --tau-border: #cac9c9;
  --tau-placeholder: #818181;
  --tau-background: #FFFFFF;
  --tau-foreground: #e3eeff;
  --tau-page: #FFFFFF;
  --tau-font-family: 'Poppins', sans-serif;
  --tau-letter-spacing: 0.4px ;
  --tau-font-size: 95%;
  --tau-radius: 5px;
}

.tau-dark {
  --tau-primary: #4307a5;
  --tau-hover: #4307a5;
  --tau-focus: #4307a5;
  --tau-text: #353535;
  --tau-border: #cac9c9;
  --tau-placeholder: #818181;
  --tau-background: #FFFFFF;
  --tau-foreground: #eae3ff;
  --tau-page: #FFFFFF;
  --tau-font-family: 'Poppins', sans-serif;
  --tau-letter-spacing: 0.4px ;
  --tau-font-size: 95%;
  --tau-radius: 5px;
}

.tau-orange {
  --tau-primary: #fa9511;
  --tau-hover: #fa9511;
  --tau-focus: #fa9511;
  --tau-text: #353535;
  --tau-border: #cac9c9;
  --tau-placeholder: #818181;
  --tau-background: #FFFFFF;
  --tau-foreground: #fff2e3;
  --tau-page: #FFFFFF;
  --tau-font-family: 'Poppins', sans-serif;
  --tau-letter-spacing: 0.4px ;
  --tau-font-size: 95%;
  --tau-radius: 5px;
}


.tau-pink-dark {
  --tau-primary: #35062a;
  --tau-hover: #35062a;
  --tau-focus: #35062a;
  --tau-text: #353535;
  --tau-border: #cac9c9;
  --tau-placeholder: #818181;
  --tau-background: #FFFFFF;
  --tau-foreground: #ffe3f7;
  --tau-page: #FFFFFF;
  --tau-font-family: 'Poppins', sans-serif;
  --tau-letter-spacing: 0.4px ;
  --tau-font-size: 95%;
  --tau-radius: 5px;
}


